@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@400&Display&display=swap');

/* --------------- header -------------- */

header {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

header nav {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

header nav ul {
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: darkslategray;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

/* --------------- body -------------- */

body section {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 2fr 0.7fr;
    gap: 0px 20px;
    grid-template-areas:
        "title ."
        "description image"
        ". make";
}

body section h2 {
    margin: 25px 0px 25px 0px;
    grid-area: title;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 400;
}

body section img{
    grid-area: image;
}

body > section > article {
    grid-area: description;
    grid-row-end: span 2;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

body section aside {
    grid-area: make;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    font-weight: 300;
    list-style: none;
}

body nav {
    width: 60%;
    margin: auto auto 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "previous next";
}

body a {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

#left {
    grid-area: previous;
    text-align: left;
}

#right {
    grid-area: next;
    text-align: right;  
}

/* --------------- footer -------------- */

footer { 
    margin-top: 20px;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    display: flex;
}

footer p {
    width: 800px;
    margin: auto;
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
    flex: 1;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: slategray;
}

@media (max-width: 600px) {

    header {
        width: 100%;
    }

    section {
        width: 400px;
        
    }

    section img {
        width: 200px;
        height: auto;
    }

    footer {
        flex-wrap: wrap;
    }

    footer p {
        margin: 0px;
        flex: 1 100%;
    }
}